@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}
#root{
  font-family: 'Montserrat', sans-serif;
  text-align: center;

}

body {
  margin: 0;                                                                                j
  padding: 0;
  background-image: url(http://www.magic4walls.com/wp-content/uploads/2014/01/minimalism-art-vector-drawing-by-illustrator-clouds-background-bkue.jpg);
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

#baoquestion{
  height: 200px;
  width: 200px;
  background-color: lightpink;
}






/* Result Component */
#score {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
#answerChoices {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
#baoscore {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
#baoquestion {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
#answerChoices {
  border-top: 1px solid #eee;
}

#answerChoices:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F) 
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}